In [1]:
import sys
from os.path import dirname, abspath
#_PARENT_DIR = dirname(dirname(dirname(abspath(__file__))))
#sys.path.append(_PARENT_DIR)
#from utils._utils import parse_celonis_url, get_user_data, get_logger              ### <--
from pycelonis import get_celonis
import argparse
#logger = get_logger()
def unify_tables(url, api_token, datapool, tables, tableSchema, function = 'null'):
    
    #loop through defined tables
    #for table_name in tables:
       
    c = get_celonis(url, api_token)
    #get_user_data(c, 'Table Unifier')
    #url_options= parse_celonis_url(url)                                            ### <--
    #pool = c.pools.find(url_options['id'])                                         ### <--
    
    pool = c.pools.find(datapool)                                                   ### <--

    minReq = []
    maxReq = []
    sameTables = []
    schemalist = tableSchema                                                        # added to extract required table schemas (in python list format)
    columns = ''
    select = ''
    
    # create or find global data job 
    try:
        global_dj = pool.data_jobs.find('Unify Tables')
    except:
        global_dj = pool.create_data_job(name = 'Unify Tables')
    
    #loop through defined tables
    for table_name in tables:
    
        # find tables to unify
        x = 0
        for schema in global_dj.tables:
            for table in schema:
                x = x + 1
                if table['schemaName'] not in schemalist:
                    continue
                if table['name'] == table_name:
                    sameTables.append(table)
        
        if len(sameTables) == 0:
            print('TABLE', table_name, 'CAN NOT BE UNIFIED! Not existing in source systems!')
            global_dj.create_transformation(name = "Unify " + table_name, statement = '-- no existing tables to unify in defined source systems')
            continue

        else:
            # create minimal column requirement
            for col in sameTables[0]['columns']:
                try:
                    if col in sameTables[1]['columns']:                                              # ERROR CHECKING !
                        minReq.append(col)
                except:
                    continue

            """
            #only required if function = 'min'

            if len(sameTables) > 2:
                for table in sameTables[2:]:
                    for col in minReq:
                        if col not in table['columns']:
                            minReq.pop(col)
                # create transformation statement for minimal table requirement

            if function == 'min':
                for col in minReq:
                    if(minReq.index(col) == 0):
                        columns += '{}\n'.format(col['name'])
                    else:
                        columns += ',{}\n'.format(col['name'])
                for table in sameTables:
                    select += 'SELECT \n{}FROM "{}"."{}"'.format(columns, table['schemaName'], table_name)
                    if table != sameTables[len(sameTables)-1]:
                        select += '\nUNION ALL\n'
            """            

            # create transformation for statement for extension with null
            if function == 'null':
                #columns = ''
                #select = ''
                
                for table in sameTables:
                    for col in table['columns']:
                        if col not in maxReq:
                            maxReq.append(col)
                for table in sameTables:
                    for col in maxReq:
                        if(maxReq.index(col) == 0):
                            columns += "'" + table['schemaName'] + "' " + 'AS "SCHEMA"\n' + ',{}\n'.format('"' + col['name'] + '"' if col in table['columns'] else 'NULL AS "' + col['name'] + '"')
                        else:
                            columns += ',{}\n'.format('"' + col['name'] + '"' if col in table['columns'] else 'NULL AS "' + col['name'] + '"')
                    select += 'SELECT \n{}FROM "{}"."{}"'.format(columns, table['schemaName'], table_name)
                    columns = ''
                    if table != sameTables[len(sameTables)-1]:
                        select += '\nUNION ALL\n'
            # create transformation
            #statement = 'DROP VIEW IF EXISTS "{}_UNIFIED";\n\nCreate VIEW "{}_UNIFIED" AS(\n{}\n);'.format(table_name, table_name, select)
            statement = 'DROP VIEW IF EXISTS "{}";\n\nCreate VIEW "{}" AS(\n{}\n);'.format(table_name, table_name, select)                      ### <-- Unified
            global_dj.create_transformation(name = "Unify " + table_name, statement = statement)
            print('The union statement has been saved in the global data job "Unify Tables" for Table', table_name)
            select = ''
            sameTables = []
            minReq = []
            maxReq = []
            
            # reminder: datatypes

In [2]:
url = 'https://endresshauser.eu-3.celonis.cloud/'

# Specify a valid API token for your Cloud Team.
#Click on Team Settings -> Edit -> create or copy already inserted API key

api_token = 'ZmE2MjY2Y2MtZGYxOC00ZGU4LTgzYmYtMjY2ZDUzZmY3ZmJiOklEdkZlRDZmNVNPd3FMRitLVmtxbVIrYko3MHBYMkNBdlZ0c1Y3K3M0bGYy'

In [3]:
celonis = get_celonis()

2020-09-02 10:11:23 - pycelonis: Login successful! The Application Key currently has access to 0 Analyses and to 4 Data Pools.

In [4]:
c = get_celonis(url, api_token)

2020-09-02 10:11:25 - pycelonis: Login successful! The Application Key currently has access to 0 Analyses and to 4 Data Pools.

In [5]:
celonis.pools

[<Pool, id e1bd9ca9-9d3b-44b4-9c17-ae345f663e27, name SAP ECC - Purchase to Pay>,
<Pool, id 590652c7-87a4-46e6-a9e9-60c90cb7c4e3, name SAP ECC - Production Planning>,
<Pool, id 98d9fc62-ccbf-4158-b89f-cb8a7a976a2d, name SAP ECC - Warehouse Management>,
<Pool, id 60442433-3dbb-4ce6-8ed3-e9bb7238c614, name SAP ECC - Order to Cash>,]

In [7]:
datapool = '98d9fc62-ccbf-4158-b89f-cb8a7a976a2d'

pool = celonis.pools.find(datapool)

In [8]:
pool.data_connections

[<DataConnection, id 52041618-a613-46bb-ad5f-435b9b7dc8c0, name SAP ECC - PSG-049>,
<DataConnection, id 31149693-442a-4ab4-aa60-25dba4a1ccdf, name SAP ECC - PS1-033>,
<DataConnection, id ac6cf012-2fdf-422b-8c15-5df275c548c2, name SAP ECC - PCA-042>,
<DataConnection, id 130521d8-53e7-49d0-abf1-ef3e8300cce4, name SAP ECC - PIN-020>,
<DataConnection, id e453d486-da03-497c-8c1d-1f21f4ce6ee2, name SAP ECC - PIN-024>,
<DataConnection, id bec2b69a-269f-4aad-b9d8-312bd4e8e9d3, name SAP ECC - PP1-011>,
<DataConnection, id e54616c8-7ec1-43d1-8c35-d7fe7367b019, name SAP ECC - PP2-004>,
<DataConnection, id ba105640-52a9-4d05-bbbb-cb5fb3543b01, name SAP ECC - PP2-005>,
<DataConnection, id 65e2be49-9011-46ab-ac51-b3d64c219255, name SAP ECC - PS1-007>,
<DataConnection, id 79475b2f-4a61-4068-ac43-a950306c6adb, name SAP ECC - PS1-010>,
<DataConnection, id 227a9d49-1773-4f80-9584-6e18ddf831d8, name SAP ECC - PS1-030>,
<DataConnection, id 8c90f23b-1bad-4eaf-bd92-4889b10a25ab, name SAP ECC - PS1-032>,
<DataConnection, id 0b9a4247-3de7-4885-90a7-5c2d2345dda8, name SAP ECC - PS1-035>,
<DataConnection, id f2511b5d-acf5-45ef-a044-c1bef71d32ae, name SAP ECC - PS1-036>,
<DataConnection, id 9047eff0-78bb-4816-aafc-eb5cdaeb640c, name SAP ECC - PS1-038>,
<DataConnection, id bf43d527-b640-448f-8203-347cfe7ae47b, name SAP ECC - PS1-039>,
<DataConnection, id 706a7a4a-8ce4-4c47-bac4-f1de73c9c43f, name SAP ECC - PS1-040>,
<DataConnection, id ab4ec8a5-c774-4c51-a7fb-7fe154503eb4, name SAP ECC - PS1-044>,
<DataConnection, id 899242bb-4a0c-438e-87c2-5a7ca5a739e4, name SAP ECC - PS1-090>,
<DataConnection, id 0241cf52-4163-4dad-8efe-6e590151622b, name SAP ECC - PS1-900>,
<DataConnection, id b5232af3-203e-4771-806b-0df39a494992, name SAP ECC - PSG-045>,
<DataConnection, id 937520f5-1c42-4965-93a8-419d2a75a2f2, name SAP ECC - PSG-048>,]

In [ ]:
# URL to the Cloud Data Pool where the tables to unify are hosted.
url = 'https://endresshauser.eu-3.celonis.cloud/'

# Specify a valid API token for your Cloud Team.
#Click on Team Settings -> Edit -> create or copy already inserted API key

api_token = 'MDkyZjRiOWMtYzQxNC00ZGJkLWJlNTctODUxYTUxMzE3OWFiOldYNkE4TUM4QTZndzc0Q0hpL3F6Ym9ESHhuejRvb0hUR3dkam5HRW1mdXhS'


#To get the data pool id, you have to run the following code. To get the data
#the ML User here called Global needs permission to request these informations
#celonis = get_celonis()
#celonis.pools by that you get the ID for the data pool 

# Specify a datapool -- WM Data Pool ID
datapool = '98d9fc62-ccbf-4158-b89f-cb8a7a976a2d'

# Specify the table names for which the tables should be merged. 

tables =    ['DD02T', 'DD03M', 'LTAK', 'LTAP', 'LTBK','LTBP','MKPF','MSEG',
             'QALS', 'QAVE', 'T163K', 'T300T', 'T301T', 'T302T', 'T308', 'T308T', 'T336T', 'USR02', 'MARA', 'MARC'
         ]


# Specify 'min' if the unified table should be the minimal column requirement and 'null' if the not existing columns should be filled with null values.
function = 'null'

#Schema Information

#'98d9fc62-ccbf-4158-b89f-cb8a7a976a2d_bec2b69a-269f-4aad-b9d8-312bd4e8e9d3',
#'98d9fc62-ccbf-4158-b89f-cb8a7a976a2d_899242bb-4a0c-438e-87c2-5a7ca5a739e4',
#'98d9fc62-ccbf-4158-b89f-cb8a7a976a2d_b5232af3-203e-4771-806b-0df39a494992',
#'98d9fc62-ccbf-4158-b89f-cb8a7a976a2d_937520f5-1c42-4965-93a8-419d2a75a2f2'




# Specify the required table schemas in a python list
#To acess the Schema Name you have to get the connection informations
#pool.data_connections
tableSchema = [
'98d9fc62-ccbf-4158-b89f-cb8a7a976a2d_bec2b69a-269f-4aad-b9d8-312bd4e8e9d3',
'98d9fc62-ccbf-4158-b89f-cb8a7a976a2d_899242bb-4a0c-438e-87c2-5a7ca5a739e4',
'98d9fc62-ccbf-4158-b89f-cb8a7a976a2d_b5232af3-203e-4771-806b-0df39a494992',
'98d9fc62-ccbf-4158-b89f-cb8a7a976a2d_937520f5-1c42-4965-93a8-419d2a75a2f2'
]


unify_tables(url = url, api_token = api_token, datapool = datapool, tables = tables, tableSchema = tableSchema, function = function)

2020-10-28 08:01:48 - pycelonis: Login successful! Hello josef.rieger@cbs-consulting.de
2020-10-28 08:01:48 - pycelonis: Best matches: [(0.48, 'PSG 048 - SAP WM Tasks - Full Load'), (0.48, 'PSG 045 - SAP WM Tasks - Full Load'), (0.48, 'PS1 090 - SAP WM Tasks - Full Load ')]
The union statement has been saved in the global data job "Unify Tables" for Table DD02T
The union statement has been saved in the global data job "Unify Tables" for Table DD03M
The union statement has been saved in the global data job "Unify Tables" for Table LTAK
The union statement has been saved in the global data job "Unify Tables" for Table LTAP
The union statement has been saved in the global data job "Unify Tables" for Table LTBK
The union statement has been saved in the global data job "Unify Tables" for Table LTBP
The union statement has been saved in the global data job "Unify Tables" for Table MKPF
The union statement has been saved in the global data job "Unify Tables" for Table MSEG
The union statement has been saved in the global data job "Unify Tables" for Table QALS
The union statement has been saved in the global data job "Unify Tables" for Table QAVE
The union statement has been saved in the global data job "Unify Tables" for Table T163K
The union statement has been saved in the global data job "Unify Tables" for Table T300T
The union statement has been saved in the global data job "Unify Tables" for Table T301T
The union statement has been saved in the global data job "Unify Tables" for Table T302T
The union statement has been saved in the global data job "Unify Tables" for Table T308
The union statement has been saved in the global data job "Unify Tables" for Table T308T
The union statement has been saved in the global data job "Unify Tables" for Table T336T
The union statement has been saved in the global data job "Unify Tables" for Table USR02